* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/FondoMapaMereora.jpg);
    background-size: contain;
    background-size: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*contendeor general*/
#contGeneral {
    background-color: #121107bc;
    width: 50rem;
    padding: 4rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgb(239, 200, 26);
    border-radius: .5rem;
}

h1 {
    background-color: #0000006a;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 10rem;
    padding: 40px;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 10px 0;
}

/*Empieza introduccion*/
.intro {
    background-color: #0000006a;
    margin: 5% 0 5% 0;
    padding: 20px;
    height: 14rem;
    width: 40rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    border-radius: .8rem;
    box-shadow: 0 0 10px rgb(158, 156, 150);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#BotonIntro {
    width: 250px;
    font-size: 25px;
    box-shadow: 0 0 10px rgb(172, 96, 96);
    background-color: #9dad33;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 45px 40px 10px;
    outline: 0;
}

/*Terminaa introduccion*/

/*Empieza niveles*/
#contenedorNiveles {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

.niveles {
    background-color: rgb(180, 126, 41);
    color: white;
    width: 25rem;
    height: 60px;
    font-size: 22px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    transition: .9s;
    outline: 0;
}

.niveles:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(180, 126, 41);

}

/*Termina niveles*/

/*Preguntas*/
#pregunta {
    background-color: #887a01a6;
    padding: 1rem;
    width: 110%;
    height: 100%;
    margin: 25px 0 25px 0;
    color: #000000c5;
    font-size: 1.7rem;
    display: none;
    border-radius: 1rem;
}

/*Termina Preguntas*/

/*Empiza botones de opcioens*/
.boton {
    background-color: white;
    color: black;
    width: 30rem;
    font-size: 20px;
    font-weight: 400;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(149, 161, 23);
}

/*Termina botones de opcioens*/

/*Empiza boton para pasar a la siguietne pregunta*/
.botonSiguiente {
    background-color: #f1b672;
    color: white;
    width: 250px;
    font-size: 25px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 45px 40px 10px;
    outline: 0;
    display: none;
}

/*Empiza boton para pasar a la siguietne pregunta*/

.contadorPreguntas {
    font-size: 1.5rem;
    /*background-color: aqua;*/
    width: 30rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/*Puntajes */
.puntaje {
    margin: 15px 0 0px 0;
    font-size: 1.3rem;
}

.PrimerPuntaje {
    margin-top: 15px;
    font-size: 25px;
}

/* Termina Puntajes */

/*Empieza Audio*/
.ContenedroAudio {
    position: absolute;
    padding: 20px;
    top: 4%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono {
    font-size: 2rem;
    margin: 0 5% 0 0;
}

.icono:hover {
    transform: scale(1.3);
    transition: 1s;
}

.iconoMute {
    font-size: 2rem;
    margin: 0 5% 0 0;

}

.iconoMute:hover {
    transform: scale(1.3);
    transition: 1s;
}

#audio {
    -webkit-appearance: none;
    width: 15rem;
    height: .5rem;
    outline: none;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

/*Boton de la barra*/
#audio::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(117, 103, 77);
    border-radius: 50%;
}




/*------------------------------Responsive--------------------------------*/
@media screen and (max-width: 1300px) {
    #contGeneral {
        height: 40rem;
        width: 48rem;
        padding: 3rem;
    }

    h1 {
        width: 48rem;
        height: 9rem;
        font-size: 2.8rem;
        margin: 0;
    }

    .niveles{
        height: 55px;
    }

    #pregunta {
        font-size: 1.3rem;
        margin: 10px 0 0 0;
    }

    .boton {
        width: 25rem;
        height: 3.2rem;
        font-size: 20px;
        margin: 10px 40px 10px;
    }

    /*Empiza boton para pasar a la siguietne pregunta*/
    .botonSiguiente {
        margin: 10px 40px 0 40px;
    }

    /*Empieza introduccion*/
    .intro {
        padding: 20px;
        height: 13.5rem;
        width: 40rem;
    }

    #BotonIntro {
        width: 220px;
        font-size: 24px;
        margin: 40px 0 0 0;
    }
    /*termina introduccion*/

    /*Sonido*/
    .ContenedroAudio {
        padding: 20px;
        top: 1%;
        right: 0%;
    }

    .icono {
        font-size: 1.6rem;
    }

    .iconoMute {
        font-size: 1.6rem;
    }

    #audio {
        width: 9rem;
        height: .5rem;
    }

    #audio::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
    }

    .PrimerPuntaje {
        margin-top: 0;
}

@media screen and (max-width: 1024px) {
    #contGeneral {
        width: 43rem;
        height: auto;
    }

    h1 {
        width: 43rem;
        font-size: 2.4rem;
        
    }

    #pregunta {
        width: 110%;
        height: 10%;
        margin: 15px 0 15px 0;
        font-size: 1.3rem;
    }

    .boton {
        width: 25rem;
        height: 3.2rem;
        font-size: 20px;
        margin: 10px 40px 10px;
    }

    /*Empiza boton para pasar a la siguietne pregunta*/
    .botonSiguiente {
        width: 200px;
        height: 55%;
        align-items: center;
        justify-content: center;
        margin: 30px 40px 0 40px;
    }

    /*Empieza introduccion*/
    .intro {
        width: 35rem;
        font-size: 1.42rem;
        height: 12rem;
    }


    #BotonIntro {
        width: 200px;
        font-size: 20px;
    }

    /*Sonido*/
    .icono {
        font-size: 1.4rem;
    }

    .iconoMute {
        font-size: 1.4rem;
    }

    #audio {
        width: 7rem;
        height: .5rem;
    }
}

@media screen and (max-width: 921px) {

    /*Sonido*/
    .icono {
        font-size: 1.4rem;
    }

    .iconoMute {
        font-size: 1.4rem;
    }

    #audio {
        width: 5rem;
        height: .4rem;
    }

    #audio::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
    }

}

@media screen and (max-width: 768px) {
    #contGeneral {
        width: 35rem;
        padding: 1rem;
    }

    h1 {
        width: 35rem;
        font-size: 1.95rem;
    }

    #pregunta {
        width: 100%;
    }

    .boton {
        width: 22rem;
    }

    .niveles{
        width: 23rem;
    }

    /*Empieza introduccion*/
    .intro {
        width: 30rem;
        font-size: 1.3rem;
    }

    #BotonIntro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

}